.movieBackdrop {
  margin-top: 10px;
  width: 90%;
}

.single-film {
  color: black;
  margin: 0 auto;
}

.single-film-box {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 35vw;
}

.glassbox {
  box-sizing: border-box;
  padding: 3% 2%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 10px 50px 0 rgb(31 38 135 / 20%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgb(255 255 255 / 15%);
  text-align: center;
}

img {
  float: left;
}
