@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.personDetail {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  padding-bottom: 60%;
}

.avt {
  top: 4%;
  left: 10%;
  border-radius: 20px;
  z-index: 11;
  transform: scale(0.75, 0.8);
  box-shadow: 0 0 20px #000000;
}

.contentDetail {
  top: 10%;
  width: 55%;
  right: 10%;
  height: auto;
  padding-bottom: 50px;
  z-index: 10;
  border-radius: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.contentDetail .content {
  margin: 40px 15px;
  color: whitesmoke;
}

.contentDetail .content h1 {
  margin-bottom: 0;
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
}

.contentDetail .content .summary {
  color: rgb(219, 214, 214);
  font-family: 'Muli', sans-serif;
  word-spacing: 0.1rem;
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 35px;
}

.contentDetail .content .cast {
  color: whitesmoke;
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  margin-bottom: 1px;
}

.castCard {
  float: left;
  width: 18%;
  margin: 4px;
}

@media (max-width: 1700px) {
  .avt {
    display: none;
  }
  .contentDetail {
    width: 80%;
    right: 10%;
  }
}
